$blue-color: #277db4;
$grey-color: #999;
$white-color: #fff;
$light-grey-color: #eee;
$lime-color: #adff9b;

.row-delete {
  cursor: pointer;
  display: block;
  float: right;
  margin: 0 15px 15px 0;
}

.button-close {
  border: 0;
  cursor: pointer;
  float: right;
}
.buttons-columns {
  margin-top: 20px;
}
.box-container {
  // background: $light-grey-color;
  border-radius: 2px;
  margin-top: 20px;
  min-height: 370px;
  padding: 10px 10px 20px;
}
.box-column {
  height: 300px;
  padding: 0.2em;
  width: 100%;
}
.box__active {
  background-color: $lime-color;
}
.box__inactive {
  background-color: $white-color;
}
.box-elements {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}
.box__dashed {
  border: 1px dashed $grey-color;
}
.drag-element {
  border: 2px solid $blue-color;
  border-radius: 5px;
  cursor: move;
  margin: 1.5rem 0.5rem 0;
  padding: 0.5rem 1rem;
}
.drag-element__title {
  color: $blue-color;
  font-weight: 600;
}
.drag-element__align {
  color: $grey-color;
}
.drag-element__buttons {

}
.addcolumn-title {
  margin: 1rem 0 0.2rem 0.3rem;
}
.colors-title {
  // padding-left: 37px;
}
.flexbox-column {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.btn-toolbar {
  margin-top: 120px;
}
// asp button styling
.createButton-wrapper {
  margin-top: 40px;
}
